body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

em {
  background-color: #F2C500;
  /* color: #FFFFFF; */
  text-shadow: none;
}

.btn-label {
  min-width: 25%;
  text-align: left !important;
}

.no-select {
  user-select: none;
}
::selection {
  background-color: #d2e3fc;
  text-shadow: none;
}
